# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Logs and databases
*.log
*.sqlite3
*.db

# Temporary & OS files
*.tmp
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/
